# 20.11 pandas ile join ve merge

In [1]:
# sqldeki join ile aynı
#iki tane tbloyu birleştirmek için kullanılır örneğin siperiş id 
#ile müşteri id, inner join, left join, right join, full outer join şeklinde birleşecek

In [2]:
import pandas as pd

In [3]:
customers = {
    "customerId": [1,2,3,4],
    "firstname": ["ahmer","ali","hasan","canan"],
    "lastname": ["yılmaz","korkmaz","çelik","toprak"]
}

orders = {
    "orderId": [10,11,12,13],
    "customerId": [1,2,5,7],
    "orderdate": ["2010-07-04","2010-08-04","2010-07-07","2012-10-04"]
}


df_customer = pd.DataFrame(customers, columns = ["customerId","firstname","lastname"])
df_orders = pd.DataFrame(orders, columns = ["orderId","customerId","orderdate"])

print(df_customer)
print(df_orders)

   customerId firstname lastname
0           1     ahmer   yılmaz
1           2       ali  korkmaz
2           3     hasan    çelik
3           4     canan   toprak
   orderId  customerId   orderdate
0       10           1  2010-07-04
1       11           2  2010-08-04
2       12           5  2010-07-07
3       13           7  2012-10-04

In [4]:
result = pd.merge(df_customer,df_orders, how = "inner") #merge edeceğim iki tabloyu yani birleştireceğim
# how inner diyorum nasıl birleştirilsin diye soruyor ve inner join şeklinde birleştirilsin diyorum
#siparişi birleşen kullanıcılar gelir

result = pd.merge(df_customer,df_orders, how = "left") #left dediğimde müşteriler gelsin ancak siparişi olmayanlar da gelsin diyoum

result = pd.merge(df_customer,df_orders, how = "right") #sahipsiz sipariş var mı diye soruyorum databaseten isimler isilinmiş oluyor

#result = pd.merge(df_customer,df_orders, how = "outer") tüm kayıtlar ortak kayıt olsun olmasın getirilir



customersA = {
    "customerId": [1,2,3,4],
    "firstname": ["ahmer","ali","hasan","canan"],
    "lastname": ["yılmaz","korkmaz","çelik","toprak"]
}

# ayrı tablolarda tuttuğum bilgileri birleştirmek istiyorum önce df yapacağım
customersB = {
    "customerId": [4,5,6,7],
    "firstname": ["yağmur","çınar","cengiz","can"],
    "lastname": ["bilge","turan","yılmaz","turan"]
}

df_customerA = pd.DataFrame(customersA, columns = ["customerId","firstname","lastname"])
df_customerB = pd.DataFrame(customersB, columns = ["customerId","firstname","lastname"])

#iki dfyi birleştireceğim
result = pd.concat([df_customerA,df_customerB]) #alt alt abirleştirilir
result = pd.concat([df_customerA,df_customerB], axis = 1) #kolonlar yan yan getirilir



result

   customerId firstname lastname  customerId firstname lastname
0           1     ahmer   yılmaz           4    yağmur    bilge
1           2       ali  korkmaz           5     çınar    turan
2           3     hasan    çelik           6    cengiz   yılmaz
3           4     canan   toprak           7       can    turan

# 20.12 pandas ile dataframe metodları

In [5]:
import numpy as np
import pandas as pd

In [6]:
data = {
    "column1": [1,2,3,4,5],
    "column2": [10,20,13,20,25],
    "column3": ["abc","bcaa","ade","cb","dea"]
    
}

df = pd.DataFrame(data)
result = df

result = df["column2"].unique() #listede tek olan değerleri getirir
result = df["column2"].nunique() #tekil verilerin sayısını söyler
result = df["column2"].value_counts() #hangi veriden kaç tane olduğunu söyler
result = df["column1"] * 2 #elemanları ikiyle çarpar

def kareal(x):
    return x * x

result = df["column1"].apply(kareal) #appl metodunun içine fonksiyon tanımlayabiliyorum içine yazdığım fonksiyona parametre olarak gidiyor


kareal2 = lambda x: x * x

result = df["column2"].apply(kareal2)
result = df["column2"].apply(lambda x: x * x) #sadece bir kere kullanacaksam apply içine yazabilirim
df["column4"] = df["column3"].apply(len) #he rbir str elemanın kaç karakter olduğuunu söyler

result = df.columns
result = len(df.columns)
result =df.index #index bilgileri geliyor
result = len(df.index) # kaç elemanlı olduğunu gösterir 5 satır vardır
result = df.info() #detaylı bilgi veriyor


result = df.sort_values("column2") #sıralanmış şekilde geilr kolon
result = df.sort_values("column3") #alfaetik sıralı şekilde geilir
result = df.sort_values("column3", ascending = False) #varsayılan truedur artarak gidiyor normalde sıra false yaparsam abc en aşağıya gelir




result
#df kolon4ü yazdırmış oldum

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  5 non-null      int64
 1   column2  5 non-null      int64
 2   column3  5 non-null      object
 3   column4  5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 288.0+ bytes

   column1  column2 column3  column4
4        5       25     dea        3
3        4       20      cb        2
1        2       20    bcaa        4
2        3       13     ade        3
0        1       10     abc        3

In [14]:
data = {
    "Ay": ["mayıs","haziran","nisan","mayıs","haziran","nisan","mayıs","haziran","nisan"],
    "Kategori": ["Elektronik","Elektronik","Elektronik","kitap","kitap","kitap","giyim","giyim","giyim"],
    "Gelir": [20,30,15,14,32,42,12,36,52]
}

df =pd.DataFrame(data) # dic veriyi df yaptım

print(df.pivot_table(index = "Ay", columns = "Kategori", values = "Gelir"))

# belirttiğimiz yerler bana kolon olarak geldi aylar index olarak gelirimi de value olarak ayarlayıp bir pivot tabloya çevirebildim

Kategori  Elektronik  giyim  kitap
Ay
haziran           30     36     32
mayıs             20     12     14
nisan             15     52     42