# demo nba verileri 20.13

In [1]:
#1- ilk on kaydı getiri
#2- toplam kaç kayıt vardır
#3- tüm oyunvuların toplam maaş ortalaması nedir
#4- en yüksek maaş ne kadardır
#5- en yüksek maaşı alan oyuncu kimdir
#6- yaşı 20-25 arasında olan oyuncunun oynadığı ismi ve takımı azalan sırayla hangisidir
#7- Taurean Green isimli oyuncunun oynadığı takım hangisidir
#8- takımlara göre oyuncuları ortalama maaş bilgisi nedir
#9- kaç farklı takım mevcuttur
#10- he rtakımda kaç oyuncu oynamaktadır
#11- ismi içinde "and geçen kayıtları bulunuz."

In [2]:
import pandas as pd

In [3]:
#1-

df = pd.read_csv("all_seasons.csv")

df.head(10)

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97
5,5,Eddie Johnson,HOU,38.0,200.66,97.522280,Illinois,USA,1981,2,...,8.2,2.7,1.0,4.1,0.034,0.126,0.220,0.541,0.102,1996-97
6,6,Eddie Jones,LAL,25.0,198.12,86.182480,Temple,USA,1994,1,...,17.2,4.1,3.4,4.1,0.035,0.091,0.209,0.559,0.149,1996-97
7,7,Elden Campbell,LAL,28.0,213.36,113.398000,Clemson,USA,1990,1,...,14.9,8.0,1.6,3.3,0.095,0.183,0.222,0.520,0.087,1996-97
8,8,Eldridge Recasner,ATL,29.0,193.04,86.182480,Washington,USA,1992,Undrafted,...,5.7,1.6,1.3,-0.3,0.036,0.076,0.172,0.539,0.141,1996-97
9,9,Elliot Perry,MIL,28.0,182.88,72.574720,Memphis,USA,1991,2,...,6.9,1.5,3.0,-1.2,0.018,0.081,0.177,0.557,0.262,1996-97

In [4]:
#2-

len(df.index) #kaç satır var

12305

In [5]:
#3-
result = df["player_weight"].mean() #oyuncuların ortalama kilosu
result

100.36992618155222

In [6]:
#4-
df["player_weight"].max() #en ağır oyuncu

163.29312

In [7]:
#5-

result = df[df["player_weight"] == df["player_weight"].max()]["player_name"].iloc[0] # içine varip eşit eşit mi diye sorarsam o kolonun bağlı olduğu kolon gelir
result # kolon gelirse tüm bilgileri gelir ve iloc dersem de sadece ismi gelir, namei tek yazarsam indexi de geliyor

'Sim Bhullar'

In [8]:
#6- 

result = df[(df["player_height"] > 180) & (df["player_height"] < 185.2)][["player_name","college","age"]].sort_values("age", ascending = False)
result #and yazarsam hat averdi ancak & yazdığımda çalıştı

             player_name      college   age
3394       Avery Johnson     Southern  39.0
2743       Avery Johnson     Southern  38.0
4925      Darrick Martin         UCLA  37.0
2520       Avery Johnson     Southern  37.0
11967         Chris Paul  Wake Forest  37.0
...                  ...          ...   ...
5292       Taurean Green      Florida  21.0
4218   Sebastian Telfair         None  21.0
4708          Kyle Lowry    Villanova  21.0
4170          Chris Paul  Wake Forest  21.0
3623   Sebastian Telfair         None  20.0

[397 rows x 3 columns]

In [9]:
#7-

result = df[(df["player_name"] == "Taurean Green")][["college","player_name"]]
result

      college    player_name
5292  Florida  Taurean Green

In [10]:
#8- 
result = df.groupby("college").mean()["player_height"].sort_values(ascending = False)
result

C:\Users\PC-1\AppData\Local\Temp\ipykernel_14104\1502411590.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  result = df.groupby("college").mean()["player_height"].sort_values(ascending = False)

college
UCF                         228.60
Central State (OH)          223.52
Marist                      223.52
Yonsei (KOR)                220.98
Barton Community College    220.98
                             ...
California-Irvine           180.34
Portland                    180.34
LSU                         177.80
Campbell University         175.26
Brigham Young-Hawaii        175.26
Name: player_height, Length: 347, dtype: float64

In [11]:
#9-
result = len(df.groupby("college"))

result = df["college"].nunique() #hepsi aynı sonucu veriyor

result = len(df["college"].unique())

result

347

In [12]:
#10-

result = df["college"].value_counts()
result #her takımda kaç oyuncu olduğu bilgisi

None                              1789
Kentucky                           420
Duke                               384
North Carolina                     344
UCLA                               307
                                  ...
George Mason                         1
University of Colorado Boulder       1
Illinois State                       1
Augustana (SD)                       1
UNC                                  1
Name: college, Length: 347, dtype: int64

In [13]:
#11-

result = df[df["player_name"].str.contains("and")]
result #str metodlarından contains fonksiyonu ile isim kolonu içinde and kelimelerini arayabiliyorum

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
22,22,Erick Strickland,DAL,23.0,190.50,95.254320,Nebraska,USA,Undrafted,Undrafted,...,10.6,3.2,2.4,-6.4,0.032,0.112,0.216,0.510,0.161,1996-97
145,145,Aleksandar Djordjevic,POR,29.0,187.96,89.811216,None,USA,Undrafted,Undrafted,...,3.1,0.6,0.6,4.8,0.021,0.070,0.179,0.687,0.135,1996-97
171,171,Cory Alexander,SAS,24.0,185.42,86.182480,Virginia,USA,1995,1,...,7.2,1.5,3.2,-8.8,0.023,0.081,0.218,0.528,0.300,1996-97
237,237,Shandon Anderson,UTA,23.0,198.12,94.347136,Georgia,USA,1996,2,...,5.9,2.8,0.8,2.5,0.065,0.139,0.193,0.534,0.074,1996-97
250,250,Randolph Childress,DET,24.0,187.96,85.275296,Wake Forest,USA,1995,1,...,1.7,0.3,0.7,-0.9,0.008,0.037,0.176,0.448,0.205,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12033,12033,Shai Gilgeous-Alexander,OKC,23.0,198.12,81.646560,Kentucky,Canada,2018,1,...,24.5,5.0,5.9,-6.4,0.017,0.114,0.298,0.557,0.293,2021-22
12174,12174,Leandro Bolmaro,MIN,21.0,198.12,90.718400,None,Argentina,2020,1,...,1.4,1.2,0.6,0.2,0.062,0.107,0.122,0.419,0.118,2021-22
12179,12179,Landry Shamet,PHX,25.0,193.04,86.182480,Wichita State,USA,2018,1,...,8.3,1.8,1.6,4.9,0.010,0.072,0.160,0.550,0.104,2021-22
12227,12227,Julius Randle,NYK,27.0,203.20,113.398000,Kentucky,USA,2014,1,...,20.1,9.9,5.1,-3.6,0.045,0.225,0.279,0.509,0.251,2021-22
12256,12256,Nickeil Alexander-Walker,UTA,23.0,195.58,92.986360,Virginia Tech,Canada,2019,1,...,10.6,2.9,2.4,-3.1,0.024,0.103,0.237,0.475,0.166,2021-22

In [14]:
def str(name):
    if "and" in name.lower():
        return True
    return False

result = df[df["player_name"].apply(str)].head()

print(result) #bu şekilde de yazılablir 11in cevabı

     Unnamed: 0            player_name team_abbreviation   age  player_height  \
22           22       Erick Strickland               DAL  23.0         190.50
97           97          Greg Anderson               SAS  33.0         208.28
145         145  Aleksandar Djordjevic               POR  29.0         187.96
151         151        Andrew DeClercq               GSW  24.0         208.28
152         152            Andrew Lang               MIL  31.0         210.82

     player_weight   college country draft_year draft_round  ...   pts  reb  \
22       95.254320  Nebraska     USA  Undrafted   Undrafted  ...  10.6  3.2
97      113.398000   Houston     USA       1987           1  ...   3.9  5.5
145      89.811216      None     USA  Undrafted   Undrafted  ...   3.1  0.6
151     104.326160   Florida     USA       1995           2  ...   5.3  4.2
152     124.737800  Arkansas     USA       1988           2  ...   5.3  5.3

     ast  net_rating  oreb_pct  dreb_pct  usg_pct  ts_pct  ast_pct   season
22   2.4        -6.4     0.032     0.112    0.216   0.510    0.161  1996-97
97   0.4       -14.2     0.109     0.219    0.106   0.531    0.033  1996-97
145  0.6         4.8     0.021     0.070    0.179   0.687    0.135  1996-97
151  0.5        -5.6     0.132     0.198    0.173   0.552    0.050  1996-97
152  0.5        -1.2     0.096     0.182    0.123   0.498    0.031  1996-97

[5 rows x 22 columns]

# 20.14 youtube istatistik verilerinin analizi

In [15]:
import pandas as pd

In [16]:
#1-ilk on kaydı getirin
#2-ikinci 5 kaydı getirin
#3- datasette bulunan kolon isimlerini ve sayısını bulun
#4- aşağıda bulunan bazı kolonları silin 
#5- beğenme ve beğenmeme sayılarının ortalamasını yazdırın
#6- ilk 50 videonun like ve dislike kolonlarını getirin
#7- en çok görüntülenen video hangisi
#8- en düşük görüntülenme alan video hangisi
#9- en fazla görüntülenen video hangisi
#10- kategoriye göre beğeni ortalamalrını sıralı şekilde getirin
#11- kategoriye göre yorum sıralmalarını yukarıdan aşağıya doğru sıralı şekilde getirin
#12- her kategoride kaç video var
#13- her videoun title uzunluğu bilgisini yeni bir kolonda gösterin
#14- her video için kullanılan tag sayısını yeni bir kolonda gösterin
#15- en popüler videoalrı listeleyiniz (like/dislike oranına göre)

In [17]:
df = pd.read_csv("GBvideos.csv")
df

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg,False,False,False,Musical guest Taylor Swift performs …Ready for...
2,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
3,PUTEiSjKwJU,17.14.11,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,https://i.ytimg.com/vi/PUTEiSjKwJU/default.jpg,False,False,False,Salford drew 4-4 against the Class of 92 and F...
4,rHwDegptbI4,17.14.11,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,https://i.ytimg.com/vi/rHwDegptbI4/default.jpg,False,False,False,Dashcam captures truck's near miss with child ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38911,l884wKofd54,18.14.06,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,EnriqueIglesiasVEVO,10,2018-05-09T07:00:01.000Z,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",25066952,268088,12783,9933,https://i.ytimg.com/vi/l884wKofd54/default.jpg,False,False,False,NEW SONG - MOVE TO MIAMI feat. Pitbull (Click ...
38912,IP8k2xkhOdI,18.14.06,Jacob Sartorius - Up With It (Official Music V...,Jacob Sartorius,10,2018-05-11T17:09:16.000Z,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",1492219,61998,13781,24330,https://i.ytimg.com/vi/IP8k2xkhOdI/default.jpg,False,False,False,THE OFFICIAL UP WITH IT MUSIC VIDEO!Get my new...
38913,Il-an3K9pjg,18.14.06,Anne-Marie - 2002 [Official Video],Anne-Marie,10,2018-05-08T11:05:08.000Z,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",29641412,394830,8892,19988,https://i.ytimg.com/vi/Il-an3K9pjg/default.jpg,False,False,False,Get 2002 by Anne-Marie HERE ▶ http://ad.gt/200...
38914,-DRsfNObKIQ,18.14.06,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766,https://i.ytimg.com/vi/-DRsfNObKIQ/default.jpg,False,False,False,Eleni Foureira represented Cyprus at the first...
38915,4YFo4bdMO8Q,18.14.06,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423,https://i.ytimg.com/vi/4YFo4bdMO8Q/default.jpg,False,False,False,Debut album 'Light of Mine' out now: http://ky...

In [18]:
#1-
df.head(10)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,Jw1Y-zhQURU,17.14.11,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,https://i.ytimg.com/vi/Jw1Y-zhQURU/default.jpg,False,False,False,Click here to continue the story and make your...
1,3s1rvMFUweQ,17.14.11,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,https://i.ytimg.com/vi/3s1rvMFUweQ/default.jpg,False,False,False,Musical guest Taylor Swift performs …Ready for...
2,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...
3,PUTEiSjKwJU,17.14.11,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,https://i.ytimg.com/vi/PUTEiSjKwJU/default.jpg,False,False,False,Salford drew 4-4 against the Class of 92 and F...
4,rHwDegptbI4,17.14.11,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,https://i.ytimg.com/vi/rHwDegptbI4/default.jpg,False,False,False,Dashcam captures truck's near miss with child ...
5,AumaWl0TNBo,17.14.11,How My Relationship Started!,PointlessBlogVlogs,24,2017-11-11T17:00:00.000Z,"pointlessblog|""pointlessblogtv""|""pointlessblog...",1182775,52708,1431,2333,https://i.ytimg.com/vi/AumaWl0TNBo/default.jpg,False,False,False,► HOW MY RELATIONSHIP STARTED!\n► PB Merch • h...
6,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634124,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,🎧: https://ad.gt/yt-perfect\n💰: https://atlant...
7,-N5eucPMTTc,17.14.11,CHRISTMAS HAS GONE TO MY HEAD,MoreZoella,22,2017-11-10T19:19:43.000Z,"zoe sugg|""zoella""|""zoe""|""vlog""|""vlogging""|""vlo...",1164201,57309,749,624,https://i.ytimg.com/vi/-N5eucPMTTc/default.jpg,False,False,False,CHRISTMAS HAS GONE TO MY HEAD\nPrevious Vlog: ...
8,LMCuKltaY3M,17.14.11,Elbow - Golden Slumbers (John Lewis Advert 2017),ElbowVEVO,10,2017-11-10T08:00:01.000Z,"Elbow|""Golden""|""Slumbers""|""Polydor""|""Alternative""",154494,2163,147,211,https://i.ytimg.com/vi/LMCuKltaY3M/default.jpg,False,False,False,"“Golden Slumbers”, originally by The Beatles, ..."
9,9t9u_yPEidY,17.14.11,"Jennifer Lopez - Amor, Amor, Amor (Official Vi...",JenniferLopezVEVO,10,2017-11-10T15:00:00.000Z,"Jennifer Lopez ft. Wisin|""Jennifer Lopez ft. W...",9548677,190084,15015,11473,https://i.ytimg.com/vi/9t9u_yPEidY/default.jpg,False,False,False,"Jennifer Lopez ft. Wisin - Amor, Amor, Amor (O..."

In [19]:
#2-
df[5:20].head(5) #ya da direkt 5:10 yazarsam ikinci 5lik kaydı almış olurum

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
5,AumaWl0TNBo,17.14.11,How My Relationship Started!,PointlessBlogVlogs,24,2017-11-11T17:00:00.000Z,"pointlessblog|""pointlessblogtv""|""pointlessblog...",1182775,52708,1431,2333,https://i.ytimg.com/vi/AumaWl0TNBo/default.jpg,False,False,False,► HOW MY RELATIONSHIP STARTED!\n► PB Merch • h...
6,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634124,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,🎧: https://ad.gt/yt-perfect\n💰: https://atlant...
7,-N5eucPMTTc,17.14.11,CHRISTMAS HAS GONE TO MY HEAD,MoreZoella,22,2017-11-10T19:19:43.000Z,"zoe sugg|""zoella""|""zoe""|""vlog""|""vlogging""|""vlo...",1164201,57309,749,624,https://i.ytimg.com/vi/-N5eucPMTTc/default.jpg,False,False,False,CHRISTMAS HAS GONE TO MY HEAD\nPrevious Vlog: ...
8,LMCuKltaY3M,17.14.11,Elbow - Golden Slumbers (John Lewis Advert 2017),ElbowVEVO,10,2017-11-10T08:00:01.000Z,"Elbow|""Golden""|""Slumbers""|""Polydor""|""Alternative""",154494,2163,147,211,https://i.ytimg.com/vi/LMCuKltaY3M/default.jpg,False,False,False,"“Golden Slumbers”, originally by The Beatles, ..."
9,9t9u_yPEidY,17.14.11,"Jennifer Lopez - Amor, Amor, Amor (Official Vi...",JenniferLopezVEVO,10,2017-11-10T15:00:00.000Z,"Jennifer Lopez ft. Wisin|""Jennifer Lopez ft. W...",9548677,190084,15015,11473,https://i.ytimg.com/vi/9t9u_yPEidY/default.jpg,False,False,False,"Jennifer Lopez ft. Wisin - Amor, Amor, Amor (O..."

In [20]:
#3-
df.columns
len(df.columns)

16

In [21]:
#4-
df = df.drop(["thumbnail_link","comments_disabled","ratings_disabled","video_error_or_removed","description","trending_date"],axis = 1)
df

,video_id,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count
0,Jw1Y-zhQURU,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479
1,3s1rvMFUweQ,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757
2,n1WpP7iowLc,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882
3,PUTEiSjKwJU,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37
4,rHwDegptbI4,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30
...,...,...,...,...,...,...,...,...,...,...
38911,l884wKofd54,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,EnriqueIglesiasVEVO,10,2018-05-09T07:00:01.000Z,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",25066952,268088,12783,9933
38912,IP8k2xkhOdI,Jacob Sartorius - Up With It (Official Music V...,Jacob Sartorius,10,2018-05-11T17:09:16.000Z,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",1492219,61998,13781,24330
38913,Il-an3K9pjg,Anne-Marie - 2002 [Official Video],Anne-Marie,10,2018-05-08T11:05:08.000Z,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",29641412,394830,8892,19988
38914,-DRsfNObKIQ,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766
38915,4YFo4bdMO8Q,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423

In [33]:
#5-
result = df["likes"].mean() 
result = df["dislikes"].mean()
result

7612.559975331483

In [34]:
#6- 
result = df.head(50)[["title","likes","dislikes"]]
result

                                                title    likes  dislikes
0       John Lewis Christmas Ad 2017 - #MozTheMonster    55681     10247
1           Taylor Swift: …Ready for It? (Live) - SNL    25561      2294
2          Eminem - Walk On Water (Audio) ft. Beyoncé   787420     43420
3   Goals from Salford City vs Class of 92 and Fri...      193        12
4   Dashcam captures truck's near miss with child ...       30         2
5                        How My Relationship Started!    52708      1431
6         Ed Sheeran - Perfect (Official Music Video)  1634124     21082
7                       CHRISTMAS HAS GONE TO MY HEAD    57309       749
8    Elbow - Golden Slumbers (John Lewis Advert 2017)     2163       147
9   Jennifer Lopez - Amor, Amor, Amor (Official Vi...   190084     15015
10        CAN BABIES DO GYMNASTICS?  **World Record**     9591       266
11  TV Reporter Interviews Alleged Bank Robber, Th...     1746       125
12               Gucci Mane  - Curve (ft. The Weeknd)    37986       816
13                  EXTREME GOLDEN TAN TRANSFORMATION     8133      2693
14                   How To Dry a Shirt in 30 Seconds    98804     11682
15  Attracting An Alpaca With An Accordion | Nowhe...    12553      2146
16  Sam Smith surprises brides at their wedding! (...    22326       833
17  Camila Cabello - Havana (Vertical Video) ft. Y...   286269      4083
18      When Someone Has A Crush on You | Lilly Singh   202676      3394
19    Taylor Swift - “New Year’s Day” Fan Performance    72593      1830
20  SO Much To Tell You | 32 Weeks Pregnant | MOTH...    10028       248
21  The 'Stranger Things' Kids Were Nearly a Motow...   263918      1502
22       Marshmello - You & Me (Official Music Video)   207262      3167
23  Bastille - World Gone Mad (from Bright: The Al...    25115       499
24    Sharon Needles - Andy Warhol Is Dead [Official]     4577       292
25                  Google Pixelbook: $1000 of Weird!    52829      1524
26  GSP and Tyron Woodley Talk About Their Potenti...      629        77
27                    THE CHEAPEST & BEST EYESHADOWS?     5029        81
28         FIRST TIME IM DOING THIS! TALKS WITH LIZA.   307435      2573
29    Sweetie destroys Flav (Sweetie vs. Flavor Flav)      399        14
30                             Decluttering My Life ✨     5364       153
31                      Empire Of The Sun - Way To Go     7999        84
32                                      Sia - Snowman    84426      1130
33  You Know You’re British When… | The December I...     1881       182
34                A Veteran speaks on Remembrance Day      240        16
35  Chayanne - Choka Choka (Official Video) ft. Ozuna   126078     10294
36                UK Bike Skills Autumn Ladder Riding       33         6
37  Justice League Movie Cast Reveal Funniest Mome...     1267        38
38                   Sigrid - Strangers (Lyric Video)     4604        46
39           Niall Horan - Too Much To Ask (Acoustic)    53572       168
40                                         Reading #3     4935       177
41                 Birthdays - Simon's Cat | GUIDE TO    19323       245
42                    Where is TOKYO'S GREATEST View?     9210        71
43          Remy Ma - Wake Me Up (Audio) ft. Lil' Kim    32648      6221
44          A PRE WEDDING PAMPER | Lydia Elise Millen     3946       295
45  How Accurate Are Personality Tests and Horosco...    11107       212
46  GET READY WITH ME + LILY! (we're so immature bye)    22303       700
47  Big Krit Freestyle With The L.A. Leakers - Fre...     3872        16
48  Thirty Seconds To Mars - Walk On Water (Offici...    65854      2442
49  SECRETS REVEALED! HOW I LAY MY LACE WIGS! | AA...    14303       398

In [56]:
#7-
result = df[df["views"].max() == df["views"]][["title"]].iloc[0]
result

title    Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...
Name: 28412, dtype: object

In [53]:
#8-
result = df[df["views"].min() == df["views"]]["title"].iloc[0]
result

'Mountain Bikers Worried About Military Land Being Fenced Off'

In [61]:
#9-
result = df.sort_values("views",ascending=False)[["title","views"]].head(10)
result

                                                   title      views
28412  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  424538912
28212  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  413586699
28008  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  402650804
27811  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  392036878
27615  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  382401497
27424  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  372399338
27241  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  362111555
27052  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  349987176
26861  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  339629489
34460  Te Bote Remix - Casper, Nio García, Darell, Ni...  337621571

In [65]:
#10-
result = df.groupby("category_id").mean().sort_values("likes",ascending = False)["likes"]
result

C:\Users\PC-1\AppData\Local\Temp\ipykernel_14104\3204617002.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  result = df.groupby("category_id").mean().sort_values("likes",ascending = False)["likes"]

category_id
10    272138.508943
29    271695.733333
24     81572.362012
23     78431.168490
28     61531.127413
1      57205.523089
22     46273.495899
43     41836.900000
17     39270.313057
20     39220.127517
27     38440.687090
15     28629.913858
26     26639.183091
25     25021.685714
2      24608.506944
19      9674.447917
Name: likes, dtype: float64

In [67]:
#11-
result = df.groupby("category_id").sum().sort_values("comment_count",ascending=False)["comment_count"]
result

C:\Users\PC-1\AppData\Local\Temp\ipykernel_14104\2714125096.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  result = df.groupby("category_id").sum().sort_values("comment_count",ascending=False)["comment_count"]

category_id
10    293013140
24    116897440
22     18713149
23     16718816
1      15590011
17     10056226
25      9386604
29      7672790
26      7356296
20      6166994
28      4029065
27      1636903
15      1404698
2        505085
19       118177
43        80957
Name: comment_count, dtype: int64

In [68]:
#12-
result = df["category_id"].value_counts()
result

10    13754
24     9124
22     2926
1      2577
26     1928
17     1907
23     1828
20     1788
25     1225
15      534
28      518
27      457
2       144
19       96
29       90
43       20
Name: category_id, dtype: int64

In [70]:
#13-
df["title_len"] = df["title"].apply(len)

result = df
result

,video_id,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,title_len
0,Jw1Y-zhQURU,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,45
1,3s1rvMFUweQ,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,41
2,n1WpP7iowLc,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,42
3,PUTEiSjKwJU,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,76
4,rHwDegptbI4,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,55
...,...,...,...,...,...,...,...,...,...,...,...
38911,l884wKofd54,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,EnriqueIglesiasVEVO,10,2018-05-09T07:00:01.000Z,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",25066952,268088,12783,9933,61
38912,IP8k2xkhOdI,Jacob Sartorius - Up With It (Official Music V...,Jacob Sartorius,10,2018-05-11T17:09:16.000Z,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",1492219,61998,13781,24330,51
38913,Il-an3K9pjg,Anne-Marie - 2002 [Official Video],Anne-Marie,10,2018-05-08T11:05:08.000Z,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",29641412,394830,8892,19988,34
38914,-DRsfNObKIQ,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766,75
38915,4YFo4bdMO8Q,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423,51

In [74]:
#14-
df["tag_count"] = df["tags"].apply(lambda x: len(x.split("|")))
df

,video_id,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,title_len,tag_count
0,Jw1Y-zhQURU,John Lewis Christmas Ad 2017 - #MozTheMonster,John Lewis,26,2017-11-10T07:38:29.000Z,"christmas|""john lewis christmas""|""john lewis""|...",7224515,55681,10247,9479,45,9
1,3s1rvMFUweQ,Taylor Swift: …Ready for It? (Live) - SNL,Saturday Night Live,24,2017-11-12T06:24:44.000Z,"SNL|""Saturday Night Live""|""SNL Season 43""|""Epi...",1053632,25561,2294,2757,41,36
2,n1WpP7iowLc,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787420,43420,125882,42,6
3,PUTEiSjKwJU,Goals from Salford City vs Class of 92 and Fri...,Salford City Football Club,17,2017-11-13T02:30:38.000Z,"Salford City FC|""Salford City""|""Salford""|""Clas...",27833,193,12,37,76,9
4,rHwDegptbI4,Dashcam captures truck's near miss with child ...,Cute Girl Videos,25,2017-11-13T01:45:13.000Z,[none],9815,30,2,30,55,1
...,...,...,...,...,...,...,...,...,...,...,...,...
38911,l884wKofd54,Enrique Iglesias - MOVE TO MIAMI (Official Vid...,EnriqueIglesiasVEVO,10,2018-05-09T07:00:01.000Z,"Enrique Iglesias feat. Pitbull|""MOVE TO MIAMI""...",25066952,268088,12783,9933,61,4
38912,IP8k2xkhOdI,Jacob Sartorius - Up With It (Official Music V...,Jacob Sartorius,10,2018-05-11T17:09:16.000Z,"jacob sartorius|""jacob""|""up with it""|""jacob sa...",1492219,61998,13781,24330,51,41
38913,Il-an3K9pjg,Anne-Marie - 2002 [Official Video],Anne-Marie,10,2018-05-08T11:05:08.000Z,"anne|""marie""|""anne-marie""|""2002""|""two thousand...",29641412,394830,8892,19988,34,17
38914,-DRsfNObKIQ,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766,75,8
38915,4YFo4bdMO8Q,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423,51,18

In [90]:
#15-
likeslist = list(df["likes"])
dislikeslist = list(df["dislikes"])

def likedislikeoranhesapla(dataset):
    likeslist = list(dataset["likes"])
    dislikeslist = list(dataset["dislikes"])
    
    liste = list(zip(likeslist,dislikeslist)) # tuple listesi şekilnde gelecek (1020,230) gibi
    
    oranlistesi = []
    
    for like,dislike in liste:
        if (like + dislike) == 0:
            oranlistesi.append(0)
        else:
            oranlistesi.append(like/(like + dislike))
        
    
    return oranlistesi
    





df["beğeni_orani"] = likedislikeoranhesapla(df)

print(df.sort_values("beğeni_orani",ascending = False)[["title","likes","dislikes","beğeni_orani"]])

                                                   title  likes  dislikes  \
36631         Kris Wu – Like That (Official Music Video)  57544         0
7088      HIGHLIGHTS: MK Dons U18s 1-0 Cardiff City U18s     30         0
5361         QUIZ : Name the Trail : A Christmas Cracker      2         0
12082    Lima Sopoaga Tribute🔥🔥||The Unsung Hero||💯 2017     50         0
5338   Bohemian Rhapsody (2018) - Scene Bohemian Rhap...     71         0
...                                                  ...    ...       ...
21547                                    To Our Daughter      0         0
22661                      【公式】「劇場版ポケットモンスター みんなの物語」予告編1      0         0
24920                    映画『BLEACH』特報【HD】2018年7月20日（金）公開      0         0
14864                             Altwork 1 Minute Video      0         0
4465                      The New Snapchat in 60 Seconds      0         0

       beğeni_orani
36631           1.0
7088            1.0
5361            1.0
12082           1.0
5338            1.0
...             ...
21547           0.0
22661           0.0
24920           0.0
14864           0.0
4465            0.0

[38916 rows x 4 columns]