## liste metodları uygulama 3.15

In [1]:
names = ["ali","yağmur","hakan","deniz"]
years = [1998,2000,1998,1987]

# Liste oluşturmak için köşeli parantezi kullanıyoruz. daha sonrasında içerisine eğer object veri yazacaksak tırnak işaretleri
# içerisinde yazıyoruz. eğer sayısal bir değer veri yazacaksak sadece virgüllerle ayırmamız yeterli.
# daha sonra bunları bir değişkene atıyoruz.

In [2]:
#1- "cenk" ismini listenin sonuna ekleyin
names.append("cenk") 
names
#years.append("cenk") # listenin içerisinde karışık şekilde eleman bulundurabilirim ve ekleyebilirim.
#years
# append metodu bir listeye eleman eklemek için kullanılmaktadır. normal parantezler içerisine yazılır ve 
# eklemek istediğim elemanı içerisine yazarım yine eğer object veri yazacaksam tırnaklar içerisinde yazarım.
# listenin sonuna ekler.

['ali', 'yağmur', 'hakan', 'deniz', 'cenk']

In [3]:
#2-sena ismini listenin başına ekleyin
names.insert(1,"sena") 
names

names.insert(1,9) 
names

# eğer listenin içerisine index belirterek veri eklemek istiyorsam insert metodunu kullanabilirim. yine parantezler içerisinde,
# kullanıyorum ve önce eklemek istediğim indeximi belirtiyorum daha sonra eklemek istediğim veriyi belirtiyorum. yine karışık şekilde
# veri ekleyebilirim

['ali', 9, 'sena', 'yağmur', 'hakan', 'deniz', 'cenk']

In [4]:
#3- deniz ismini listeden siliniz
#names.remove("deniz")
# remove metodu ile veri silebilirim, silmek istediğim elemanı parantezler içerisine yazıyorum.
names
#pop metoduyla listenin sonundaki eleman silinir index vermediğim zaman
names.pop(1)
names
# pop metodu ile de eleman silebilirim, index belirtmediğim zaman sondaki elemanı silmektedir, eğer silmek istediğim elemanın
# indexini belirtirsem, indexteki belirtilen eleman silinmektedir. parantezler içerisine index bilgisi yazılmaktadır.

['ali', 'sena', 'yağmur', 'hakan', 'deniz', 'cenk']

In [5]:
#4- deniz isminin indexini bulun
names.index("ali")

# index metodu ile indexini bilmek istediğim elemanı eğer içerisine yazarsam liste içerisindeki index bilgisini vermektedir.

0

In [6]:
#5- ali listenin bir elemanı mıdır?
"ali" in names

# elimde veri setinin içerisinde bilmek istediğim bir veri varsa bunu içerisinde var mı diye görmek istiyorsam in sorusunu 
# soruyorum.

#names.index("ali") # eğer index -1den byük değer veriyorsa listededir

True

In [7]:
#6- liste elemanlarını ters çevirin
names.reverse() #liste elemanlarını ters çevirir
names

# liste elemanlarını ters çevirmek için reverse() metodunu kullanıyorum. liste elemanları ters sıralanıyor.

['cenk', 'deniz', 'hakan', 'yağmur', 'sena', 'ali']

In [8]:
#7- liste elemanlarını alfabetik olarak sıralayınız
names.sort() #sort metodu ile liste elemanlarını alfabetik veya küçükten büyüğe doğru suralayabilirim.
#names.sort(reverse=True) # parametre olarak reverse = True verdiğimde ise listeyi tersine çevirir, azalan sıraya göre sıralar.

names

['ali', 'cenk', 'deniz', 'hakan', 'sena', 'yağmur']

In [9]:
#8- years listesini rakamsal büyüklüğe göre sıralayınız
years.sort()
years

[1987, 1998, 1998, 2000]

In [10]:
#9- str = "chevrolet, dacia" karakter dizisini listeye çevirinz
str = "chevchev, dacia" 
x = [str]

print(type(x))
print(x)
# ya da str.split(,) diyerek virgülden ayırıp direkt bir liste içine alabiliim

# değişkenime tırnaklar içerisinde str verimi tanımlıyorum. daha sonrasında değişkenimin tipine bakıyorum.

<class 'list'>
['chevchev, dacia']

In [11]:
#10- years dizisinin en büyük ve küçük elemanı nedir
x = min(years)
y = max(years)
print(x,y)

# min ve max metodları ile listemin en büyük ve en küçük verilerini getirebilirim. yine parantezler içerisinde yazıyorum ve
# listemin adını veriyorum.

1987 2000

In [12]:
#11- years dizisinin içinde kaç tane 1998 deperi vardır
years.count(1998) 

# listemin içerisinde count motodu ile istediğim veriden kaç tane olduğunu bulabilirim. count'un içerisine bulmak istediğim
# veriyi yazıyorum.

2

In [13]:
#12- years dizisnini tüm elemanlarını siliniz
years.clear() # temizler
years
# clear metodunu içerisini temizlemek istediğim liste isminin sonuna eklemem yeterli

[]

In [14]:
#13- kullanıcıdan aldığınız 3 marka bilgisini bir listede saklayınız
cevap1 = input("bir marka yazın: ")
cevap2 = input("bir marka yazın: ")
cevap3 = input("bir marka yazın: ")
x = [cevap1, cevap2, cevap3]
x
type(x)

# input metodu ile karşı taraftan bilgi alıp saklayabiliriz. burada cevap değişkenlerim ile karşı taraftan bilgi alıyorum ve 
# bunları daha sonrasında x adlı değişkene liste içerisinde tanımlıyorum. daha sonra bu değişkenin tipini type metodu ile 
# kontrol ediyorum

bir marka yazın: a
bir marka yazın: b
bir marka yazın: c

list

## pythonda tuple 3.16

In [15]:
list = [1,2,3]

tuple = (1, "iki", 3) #tuple veriler normal parantez işaretleri ile tanımlanırlar ve içlerindeki veri değiştirilemezdir.

type(tuple)

tuple

In [16]:
type(list)

list

In [17]:
list[2]

3

In [18]:
tuple[2]

3

In [19]:
len(tuple)

3

In [20]:
len(list)

3

In [21]:
list = ["ali","veli"]
tuple = ("damla","ceren")

In [22]:
tuple
list

['ali', 'veli']

In [23]:
list[0] = "ahmet"
list

['ahmet', 'veli']

In [24]:
tuple[0] = "kerim" # herhangi bir elemana bir atama işlemi yapamam 
#tek bir eleman üstünde bir değişiklik yapamam ancak tüm liste üerinden değiştirebilirim
# tuple listeleri de toplanabilir

TypeError: 'tuple' object does not support item assignment

In [25]:
# tuple'ların özellikleri değiştirilemez olmalarıdır. eğer bir atama işlemi yapacaksam izin vermez. 
#ancak karşımıza pek çıkmayacaktır.

## Eğer pythonda detaylı şekilde liste metodlarına ulaşmak istiyorsanız Google'a   'python list methods'    yazarsanız detaylı dokümanlara ulaşabilirsiniz.

## dictionary sözlük 3.17

In [26]:
# key value şeklinde çalışyor 
# bir bilgiye ulaşmak için key veya value kullanıyoruz

In [27]:
sehirler = ["kocaeli","istanbul"]
plakalar = [41,34]
# dictionary çalışma mantığını anlamak için iki adet liste tanımlıyorum ve birbiri üzerinden çağıracağım.

In [28]:
plakalar[sehirler.index("kocaeli")]
# burada yazarken sıralarının uyuyor olması lazım
#şehirler ile plakalar arasındaki verileri aynı olan indexleri üzerinden çağırabilirim. burada kodumu plakalar listesinden 
#sehilerde indexi kocaeli ile aynı olan veriyi çağır diyebilirim.

41

In [29]:
plakalar[sehirler.index("istanbul")] # aynı şeyi burada deniyorum

34

In [30]:
sozluk = {"istanbul" : 34, "kocaeli": 41} 

# sözlük yapısı süslü parantezler ile yazılmaktadır ve karşılık gelmesini istediğimiz değişkenler arasına iki nokta konur ve
# artık ikisi de birbirini key, value şeklinde temsil eder. key kısmını çağırdığımda value kısmı gelecek

In [31]:
sozluk["istanbul"]

34

In [32]:
sozluk["ankara"] = 6 # direkt yeni yazarak sözlük eklemesi yapabilirim

# sözlük yapıma yeni bir key value eklemek istiyorsam sozluk değişkenime bitişik şekilde köşeli parantez ile birlikte içerisine
# key verimi yazıyorum karşısına ise value değerimi yazıyorum.

In [33]:
print(sozluk) #sözlük verimi görmek için yazdırıyorum

{'istanbul': 34, 'kocaeli': 41, 'ankara': 6}

In [34]:
sozluk["kocaeli"] = "new value" #olan elemanın içidenki veriyi değiştirmek için 
# sadece sözlük kısdaki karşılık gelen veriyi yeniden değiştirmem gerekli

# kodumu yazmak için yine değişkenim ile bitişik köşeli parantezlerim içerisinde değiştirmek istediğim keyimi yazıyorum
# karşısına yeni değerini yazıyorum ve o değer atanmış oluyor.

sozluk

{'istanbul': 34, 'kocaeli': 'new value', 'ankara': 6}

In [35]:
users = {
    "yiğit": 23,
    "ali": 22,
}
# sözlük yapımı bu şekilde de yazabilirim

In [36]:
users # sözlük yapımı çağırıyorum

{'yiğit': 23, 'ali': 22}

In [37]:
users["yiğit"]  #sözlük yapımın keyine çağırıyorum value değerine ulaşıyorum

23

In [38]:
users = {
    "yiğit": {
        "age": 23,
        "roles": "user",
        "mail": "yigit@gmail.com",
        "address": "istanbul",
        "phone": "123123123"
    } ,
    "ali": {
        "age": 22,
        "roles": ["user","admin"],
        "mail": "ali@gmail.com",
        "address": "istanbul",
        "phone": "456456456"
    } ,
}

# sözlüğümün içerisinde yeni sözlükler tanımlayabilirim aşağıda key kısmını görebilirim
users

{'yiğit': {'age': 23,
  'roles': 'user',
  'mail': 'yigit@gmail.com',
  'address': 'istanbul',
  'phone': '123123123'},
 'ali': {'age': 22,
  'roles': ['user', 'admin'],
  'mail': 'ali@gmail.com',
  'address': 'istanbul',
  'phone': '456456456'}}

In [39]:
users["ali"] # key kısmım iç içe olduğu için içerisinde parçalayabileceğim sözlükler bulunmaktadır. tekrardan key yazıp
# daha sonrasında indexi ile çağırabilirim.

{'age': 22,
 'roles': ['user', 'admin'],
 'mail': 'ali@gmail.com',
 'address': 'istanbul',
 'phone': '456456456'}

In [40]:
users["ali"]["age"]

22

In [41]:
users["ali"]["roles"][0] # roles keyinde birden fazla value olduğu için index ile çağırabilirim.

'user'

## dictionary uygulama 3.18

In [48]:
"""ogrenciler = {
    "120": {
        "ad": "ali",
        "soyad": "yılmaz",
        "telefon": "0532 000 00 01"
    },
    "125": {
        "ad": "can",
        "soyad": "korkmaz",
        "telefon": "532 000 00 02"
    },
    "128": {
        "ad": "volkan",
        "soyad": "yükselen",
        "telefon": "532 000 00 03"
    }
}"""

'ogrenciler = {\n    "120": {\n        "ad": "ali",\n        "soyad": "yılmaz",\n        "telefon": "0532 000 00 01"\n    },\n    "125": {\n        "ad": "can",\n        "soyad": "korkmaz",\n        "telefon": "532 000 00 02"\n    },\n    "128": {\n        "ad": "volkan",\n        "soyad": "yükselen",\n        "telefon": "532 000 00 03"\n    }\n}'

In [49]:
"""
1- bilgileri verilen öğrencileri kullanıcıdan aldığınız bilgilerle 
dictionary içinde saklayınız.

2- öğrenci numarasını kullanıcıdan alıp ilgili öğrenci bilgisini gösteriniz"""

'\n1- bilgileri verilen öğrencileri kullanıcıdan aldığınız bilgilerle \ndictionary içinde saklayınız.\n\n2- öğrenci numarasını kullanıcıdan alıp ilgili öğrenci bilgisini gösteriniz'

In [44]:
# 1-

ogrenciler = {}

number = input("öğrenci no: ")
name = input("öğrenci adı: ")
surname = input("öğrenci soyadı: ")
telefon = input("öğrenci telefon no: ")
# karşı taraftan verilerimi alıyorum ancak eklemediğim için listem boş gözüküyor, inputlarımı değişkenlere tanımladım

öğrenci no: 1
öğrenci adı: y
öğrenci soyadı: t
öğrenci telefon no: 0535

In [45]:
ogrenciler #listem boş

{}

In [46]:
ogrenciler.update({
    number: {
        "ad": name,
        "soyad": surname,
        "telefon": telefon
    }
})

# update metodu ile sözlük yapıma yeni sözlük yapıları ekleyebilirim ya da olanı değiştirebilirim.

In [47]:
ogrenciler #ekledikten sonra listem

{'1': {'ad': 'y', 'soyad': 't', 'telefon': '0535'}}

In [50]:
ogrenciler = {}

number = input("öğrenci no: ")
name = input("öğrenci adı: ")
surname = input("öğrenci soyadı: ")
telefon = input("öğrenci telefon no: ")

number1 = input("öğrenci no: ")
name1 = input("öğrenci adı: ")
surname1 = input("öğrenci soyadı: ")
telefon1 = input("öğrenci telefon no: ")

number2 = input("öğrenci no: ")
name2 = input("öğrenci adı: ")
surname2 = input("öğrenci soyadı: ")
telefon2 = input("öğrenci telefon no: ")

ogrenciler.update({
    number: {
        "ad": name,
        "soyad": surname,
        "telefon": telefon
    },
    number1: {
        "ad": name1,
        "soyad": surname1,
        "telefon": telefon1
    },
    number2: {
        "ad": name2,
        "soyad": surname2,
        "telefon": telefon2
    }
})

öğrenci no: 1
öğrenci adı: y
öğrenci soyadı: t
öğrenci telefon no: 0535
öğrenci no: 2
öğrenci adı: r
öğrenci soyadı: u
öğrenci telefon no: 545
öğrenci no: 3
öğrenci adı: k
öğrenci soyadı: l
öğrenci telefon no: 525

In [51]:
ogrenciler

{'1': {'ad': 'y', 'soyad': 't', 'telefon': '0535'},
 '2': {'ad': 'r', 'soyad': 'u', 'telefon': '545'},
 '3': {'ad': 'k', 'soyad': 'l', 'telefon': '525'}}

## Eğer pythonda detaylı şekilde sözlük metodlarına ulaşmak istiyorsanız Google'a   'python dictionary methods'    yazarsanız detaylı dokümanlara ulaşabilirsiniz.