## list comprehensions 6.7

In [1]:
#1) 
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [3]:
#2)
number = [x for x in range(10)]
print(number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
#3) üç işlemde aynı işi yapar
numbers = []
for x in range(20):
    numbers.append(x)
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
numberss = [x**2 for x in range(10)]
print(numberss)
# il k olarak x in karesini aldım ve for ile xi dolaşıp range ile 10 sayı
# yazdırdım

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
numbers = [x*x for x in range(10) if x%3 == 0]
numbers
#yani bu yöntemle her şeyi yan yana yazabilirim

[0, 9, 36, 81]

In [8]:
mystring = "hello"
mylist = []
for letter in mystring:
    mylist.append(letter)
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [10]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [11]:
years = [1983,1999,2008,1956,1986]

ages = [2019-year for year in years]
ages

[36, 20, 11, 63, 33]

In [12]:
result = [x if x%2 == 0 else "tek" for x in range(1,10)] #burada x'in liste içine dahil olabilmesi içi sorunun true değer döndürmesi gerekiyor
result

['tek', 2, 'tek', 4, 'tek', 6, 'tek', 8, 'tek']

In [16]:
result = []

for x in range(3):
    for y in range(3):
        result.append((x,y))
print(result)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [19]:
numbers = [(x,y,z) for x in range(3) for y in range(3) for z in range(3)]
numbers

[(0, 0, 0),
 (0, 0, 1),
 (0, 0, 2),
 (0, 1, 0),
 (0, 1, 1),
 (0, 1, 2),
 (0, 2, 0),
 (0, 2, 1),
 (0, 2, 2),
 (1, 0, 0),
 (1, 0, 1),
 (1, 0, 2),
 (1, 1, 0),
 (1, 1, 1),
 (1, 1, 2),
 (1, 2, 0),
 (1, 2, 1),
 (1, 2, 2),
 (2, 0, 0),
 (2, 0, 1),
 (2, 0, 2),
 (2, 1, 0),
 (2, 1, 1),
 (2, 1, 2),
 (2, 2, 0),
 (2, 2, 1),
 (2, 2, 2)]