In [1]:
# 3.3 değişken tanımlama

In [2]:
maasAli = 5000
maasAhmet = 4000
vergi = 0.27

print(maasAhmet - (maasAhmet * vergi))
print(maasAli - (maasAli * vergi))
# bu bilgiler veri tabanından gelecek

2920.0
3650.0

In [3]:
number = 20 
print(number)
number += 30
print(number)

20
50

In [4]:
firstname = 'sadık'
lastname = 'turan'
print(firstname + ' ' + lastname)

sadık turan

In [5]:
x , y , z = (1, 4.5, 'çınar')
print(x,y,z)

1 4.5 çınar

# 3.4 değişken tanımlama uygulama

In [6]:
""" 1- bir müşterinin aşağıaki bilgileri için değişken oluşturun

müşteri adı
müşteri soyadı
müşteri ad + soyadı
müşteri cinsiyet
müşteri tc kimilk
müşteri doğum yılı
müşteri adres bilgisi 
müşteri yaşı"""

' 1- bir müşterinin aşağıaki bilgileri için değişken oluşturun\n\nmüşteri adı\nmüşteri soyadı\nmüşteri ad + soyadı\nmüşteri cinsiyet\nmüşteri tc kimilk\nmüşteri doğum yılı\nmüşteri adres bilgisi \nmüşteri yaşı'

In [7]:
a = "yiğit"
b = "taşlıoğlu"
c = "yiğit" + " "+"taşlıoğlu"
d = "erkek"
e = "5555555555"
f = 2000
g = "istanbul"
t = 2023 - f
print(a,b,c,d,e,f,g,t)

yiğit taşlıoğlu yiğit taşlıoğlu erkek 5555555555 2000 istanbul 23

In [8]:
""" aşağıdaki siparişlerin toplam bilgiini hesaplayınız

sipariş 1 = 110 tl
sipariş 2 = 1100.5 tl
sipariş 3 = 356.95 tl
"""

' aşağıdaki siparişlerin toplam bilgiini hesaplayınız\n\nsipariş 1 = 110 tl\nsipariş 2 = 1100.5 tl\nsipariş 3 = 356.95 tl\n'

In [9]:
print(110 + 1100.5 + 356.95)

1567.45

In [10]:
order1 = 110
order2 = 1100.5
order3 = 356.95
print(order1 + order2 + order3)

1567.45

In [11]:
total1 = order1 + order2 + order3
total = ("total: " , total1)
total

('total: ', 1567.45)

## 3.5 veri tipi dönüşümleri

In [12]:
x = int(input("1.sayı : "))
y = int(input("2.sayı : "))
toplam = x + y
print(toplam)

1.sayı : 4
2.sayı : 4
8

In [13]:
x = 5
y = 2.5
name = 'yiğit'
isonline = True

In [14]:
print(type(x))
print(type(y))
print(type(name))
print(type(isonline))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [15]:
# bool değerler karşılaştırma ya da sınıflandırmada kullanılabilir

In [16]:
# isonline int değere dönebilir True = 1 olur bool değer 
#inte dönüşebilir yani

In [17]:
#**************************

 ## veri tipi dönüşümleri demo 3.6

In [18]:
"""daire alanı = pi*r2
daire çevresi = 2*pi*r

yarı çapı verilen bir dairenin alanını ve çevresini hesaplayınız
(r : 3.14 )"""

'daire alanı = pi*r2\ndaire çevresi = 2*pi*r\n\nyarı çapı verilen bir dairenin alanını ve çevresini hesaplayınız\n(r : 3.14 )'

In [19]:
yariCap = int(input("yarı çap giriniz : "))
pi = 3.14

daireAlan = pi * (yariCap **2)
daireCevre = 2 * yariCap * pi
print(daireAlan)
print(daireCevre)

yarı çap giriniz : 4
50.24
25.12

## karakter dizileri 3.7

In [20]:
name = 'sadık' # içinde birden fazla karakter olması karakter 
#dizisi dememizin sebebi
surname = 'turan'
age = 36
print('my name is ' + name + ' ' + surname  + ' and\nI am ' + str(age) + ' years old')
greeting = ('my name is ' + name + ' ' + surname  + ' and\nI am ' + str(age) + ' years old')
print(greeting[5])
print(greeting[2])
print(greeting[5])
print(greeting[-1])
print(len(greeting))
print(greeting[3:7])
print(greeting[23:43])
print(greeting[3:34:2])

my name is sadık turan and
I am 36 years old
m

m
d
44
name
and
I am 36 years ol
nm ssdktrnadIa 6

## 3.8 format

In [21]:
name = "Çınar"
print(f"My name is {name}")

My name is Çınar

# 3.9 string demo uygulama karakter dizileri

In [22]:
website ="http://www.sadikturan.com"
course = "python kursu: baştan sona python programlama rehperiniz (40 saat)"

#1- coursee karakter dizisinde kaç karakter bulunmaktadır ? 
print(len(course))

65

In [23]:
#2- 'website ' içinden www karakterlerini alın ?
print(website[7:10])

www

In [24]:
#3- website içinden com karakterlerini alın
print(website[-3:])

com

In [25]:
#4- course karakteri içinde ilk 15 ve son 15 karakteri alın
print(course[:15])
print(course[-15:])

python kursu: b
riniz (40 saat)

In [26]:
 #5- course ifadesindeki krakterler itersten yazdırın
course[::-1]

')taas 04( zinirepher amalmargorp nohtyp anos natşab :usruk nohtyp'

In [27]:
#6- verilen ifadeleri cümle şeklinde yazdır
name, surname , age, job = "Bora", "Yılmaz", 32, "Mühendis"

print(f"My name is {name} {surname}, I am {age} years old and I am {job}")

My name is Bora Yılmaz, I am 32 years old and I am Mühendis

In [28]:
#7- "Hello world ifadesindeki w yi W ile değiştririn"
result = "Hello" 
x = " W"
y = "orld"
print(result +x+y)

Hello World

In [29]:
#8- abc ifadesini yan yana 3 kere yazdırın
x = "abc"*3
print(x)

abcabcabc

## 3.10 string methodları

In [30]:
message = "hello there. my name is sadık turan"
print(message)

hello there. my name is sadık turan

In [31]:
message.upper()

'HELLO THERE. MY NAME IS SADIK TURAN'

In [32]:
message.lower()

'hello there. my name is sadık turan'

In [33]:
message.title()

'Hello There. My Name Is Sadık Turan'

In [34]:
message.capitalize()

'Hello there. my name is sadık turan'

In [35]:
message.strip() #boşlukları kladırır

'hello there. my name is sadık turan'

In [36]:
message.split() #böler

['hello', 'there.', 'my', 'name', 'is', 'sadık', 'turan']

In [37]:
message.split()[2]

'my'

In [38]:
message.split(".")# noktadan ayır dedim

['hello there', ' my name is sadık turan']

In [39]:
message = message.split()
message = "*".join(message)
message

'hello*there.*my*name*is*sadık*turan'

In [40]:
message.find("sadık") #kelimeyi arar ilk harfinde olan index numarasını getirir

24

In [41]:
message.startswith("h") # mesah h ile mi başlıyor diye sordum

True

In [42]:
message.endswith("l")

False

In [43]:
message.replace("sadık","yiğit")# yeniden adlandırdım
message.replace("sadık","yiğit").replace("ç","c").replace("l","k")

'hekko*there.*my*name*is*yiğit*turan'

In [44]:
message.center(100,'*') #yüz karakterlik bir konteyner oluşturur ve ilgili mesajı ortalar

'********************************hello*there.*my*name*is*sadık*turan*********************************'

In [45]:
# gogola string metodlarını aratıp bulabilirim

## 3.11 string method uygulama

In [46]:
#1- ' hello world ' karakter dizisinin baş ve ssondaki karakterlerini silin
website ="http://www.sadikturan.com"
course = "python kursu: baştan sona python programlama rehperiniz (40 saat)"
x = " hello world "
x.strip()
x.lstrip()
x.rstrip()

' hello world'

In [47]:
#2- www.sadikturan.com ifades dışındakileri silin
website.strip("whtp:/.")

'sadikturan.com'

In [48]:
#3- course dizisindeki her karakteri küçük harf yapın
course.lower()

'python kursu: baştan sona python programlama rehperiniz (40 saat)'

In [49]:
#4- website içinde kaç tane a karakteri vardır
website.count("a") #kaç tane a karakteri var 
website.count("a",0,10) #0 ile 10. index arası arıyor

0

In [50]:
#5- website www ile başlayıp .com ile bitiryor mu
website ="http://www.sadikturan.com"
website.startswith("www")
website.endswith(".com")

True

In [51]:
#6- websitede .com var mı
website.find("com") # varsa index numarasını gönderir
website.find(".com", 0, 10) # ilk on karakter içidne var mı

-1

In [52]:
#7- course içindeki karakterlerin hepsi alabetik mi (isalpha, isdigit)
course.isdigit() #hepsi sayısal mı diye sorduk
course.isalpha() # harf mi mı diye sorduk
"hello".isalpha()

True

In [53]:
#8- contents ifadesini satırda 50 karakter içine yerleştirip sağ ve soluna * ekleyiniz
"contenst".center(50,"*")
"contenst".ljust(50,"*")
"contenst".rjust(50,"*")

'******************************************contenst'

In [54]:
#9- course karakter dizisindeki tüm boşlukları - yapın
course.replace(" ","-")

'python-kursu:-baştan-sona-python-programlama-rehperiniz-(40-saat)'

In [55]:
#10- hello world ifadesinde world kısmını there ile değiştirin
"hello world".replace("world","there")

'hello there'

In [56]:
#11- course karakter dizisinin boşluk karakterlerinden ayırın
course.replace(" ","")
course.split(" ")

['python',
 'kursu:',
 'baştan',
 'sona',
 'python',
 'programlama',
 'rehperiniz',
 '(40',
 'saat)']

## 3.12 pythonda listeler

In [57]:
list1 = [1,2,3]
list2 = [4,5,6]
numbers = list1 + list2
numbers

[1, 2, 3, 4, 5, 6]

In [58]:
len(list1)

3

In [59]:
usera = ["sadık", 36]
userb = ["çınar", 2]
users = [usera , userb]
users[0][1]

36

In [60]:
list1 = ["one","two","three"]
list2 = ["elme", "armut"]
number = list1 + list2
number
number[0]

'one'

In [61]:
usera = ["sadık", 36]
userb = ["çınar",2]
users = [usera , userb]
users

[['sadık', 36], ['çınar', 2]]

In [62]:
users[1][1]

2

## 3.13 pythonda listeler uygulama

In [63]:
#1 "bmw, mercedes, opel ,mazda" elemanlarına sahip bir liste oluşturun
liste1 = ["bmw", "mercedes", "opel", "mazda"]

In [64]:
#2- listede kaç eleman var
len(liste1)

4

In [65]:
#3- listenin ilk ve son elemanı nedir
x = liste1[0]  
y = liste1[-1]
print(x,y)

bmw mazda

In [66]:
# 4- mazda değerini toyota ile değiştirin
liste1[3] = "toyota"
liste1

['bmw', 'mercedes', 'opel', 'toyota']

In [67]:
#5- mreceds listenin bir elemanı mıdır
liste1.count("mercedes")
"mercedes" in liste1

True

In [68]:
#6- listenin -2. değerdeki değeri nedir
liste1[-2]

'opel'

In [69]:
#7- listenin ilk 3 elemanı nedir
liste1[:3]

['bmw', 'mercedes', 'opel']

In [70]:
#8- listenin son iki elemanı yerine toyota ve renault değerlerini ekleyin
liste1[-2:] = ["toyota","renault"]
liste1

['bmw', 'mercedes', 'toyota', 'renault']

In [71]:
#9- listenin üzerine audi ve nissan değerlerini ekleyin
yeni = ["nissan","audi"]
liste1 = liste1 + yeni
liste1

['bmw', 'mercedes', 'toyota', 'renault', 'nissan', 'audi']

In [72]:
#10- listenin son elemanıın silin
del liste1[-1]
liste1

['bmw', 'mercedes', 'toyota', 'renault', 'nissan']

In [73]:
#11- liste elemanlarını tersten yazdırın
liste1[::-1]

['nissan', 'renault', 'toyota', 'mercedes', 'bmw']

In [74]:
#12- aşağıdaki yenileri bir liste içinde saklayın
"""
    studenta: yiğit bilgi 2010, (70,60,70)
    studentb: sena turan 1999, (80,80,70)
    studencc: ahmet turan 1998, (80,70,90)
    """
studenta = ["yiğit","bilgi", 2010, [70,60,70]]
studentb = ["sena","turan", 1999, [80,80,70]]
studentc = ["ahmet","turan", 1998, [80,70,90]]

In [75]:
#13- liste elemanlarını yazdırın
students = studenta + studentb + studentc

In [76]:
students[5]

'turan'

## pythonda liste metodları 3.14

In [77]:
numbers = [1,10,5,16,4,9,10]

In [78]:
letters = ["a","g","s","b","y","a","s"]

In [84]:
val = min(numbers)
val = max(numbers)
val = min(letters)
val = numbers[3:6]
val = numbers[:3]
val = numbers[4:]
numbers[4] = 40
print(numbers)
numbers.append(49)
numbers.append(79)
numbers.insert(3,78) #insert metodu bizden önce hangi indexten işlem yapmak istediğimizi soruyor ondan sonra
# eklleme yapıyor burada 3. indexten itibaren diyorum ve 3. indexe ekler
numbers.insert(-1,654646)# verdiğim index numarasından önce ekler
#numbers.pop() # son rakamı siler
# index belirtirsem indexi siler numbers.pop(0)
numbers.pop(0)
numbers.remove(49) # buna silmek istediğim elemanı yazıyorum
numbers.sort() #liste küçükten büyüğe sıralar
letters.sort()
numbers.reverse()# bu da listeyi tersine çevirir
#letters
len(numbers)
numbers.count(40) # burada bu elemandan kaç tane var diye soruyorum
numbers.clear() #burada liste elemanlarını tamamen temizliyorum
numbers

[654646, 654646, 79, 79, 40, 78, 78, 78, 78, 40, 40, 40, 40, 40, 10, 10, 9]

[]

In [ ]:
# list methods in python diyerek googleda arayabilirim