# 20.1 pandas

In [1]:
import pandas as pd

In [2]:
#df = pd.read_excel("flo.xlsx") #dosya okutmak için
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [3]:
df.head(10) # ilk on kaydı görmek için

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
5,489434,22064,PINK DOUGHNUT TRINKET POT,24,2009-12-01 07:45:00,1.65,13085.0,United Kingdom
6,489434,21871,SAVE THE PLANET MUG,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
7,489434,21523,FANCY FONT HOME SWEET HOME DOORMAT,10,2009-12-01 07:45:00,5.95,13085.0,United Kingdom
8,489435,22350,CAT BOWL,12,2009-12-01 07:46:00,2.55,13085.0,United Kingdom
9,489435,22349,"DOG BOWL , CHASING BALL DESIGN",12,2009-12-01 07:46:00,3.75,13085.0,United Kingdom

In [4]:
len(df) # kaç kayıt var

525461

In [5]:
df["Quantity"].mean() #Quantityin ortalaması

10.337667305470815

In [6]:
df["Quantity"].max() #quantitiyin max kaç olduğu

19152

In [7]:
# pd.read_json("dataset.json", encoding="UTF-8") ile json dosyası okutulur

# Pandas serileri 20.2

In [8]:
import pandas as pd
import numpy as np

In [9]:
pandas_series = pd.Series()
print(pandas_series) #bir pandas seriesi oluşturdum boş bir dizi şeklinde geldi
# aslında tek boyutlu dizi içine farklı veri tipleri verebilirim

Series([], dtype: float64)

C:\Users\PC-1\AppData\Local\Temp\ipykernel_22204\714718594.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pandas_series = pd.Series()

In [10]:
# data
numbers = [20,30,40,50]
letter = ["a", "b", "c", "d",20] #pd serieste farklı veriler ekullanabilirim liste içine he rbir data aynı özellikte olmak zorunda değil
scalar = 5

pandas_series = pd.Series(numbers)
print(pandas_series) #her bir elemana index numarası atanarak yazdırır

pandas_series = pd.Series(letter)
print(pandas_series) # object tanımlandı

pandas_series = pd.Series(scalar)
pandas_series = pd.Series(5,[1,2,3,4]) #ikinci verdiğim parametre yani listeindex bilgsii oluyor 
print(pandas_series) #verdiğim index kadar artırır

0    20
1    30
2    40
3    50
dtype: int64
0     a
1     b
2     c
3     d
4    20
dtype: object
1    5
2    5
3    5
4    5
dtype: int64

In [11]:
pandas_series = pd.Series(numbers, ["a","b","c","d"])
print(pandas_series) #index numarlarını değiştirebiliyorum bu sayede kendi index bilgim ile verilerimi eşleyebilirim. index numarlaarımı harf yaptım

a    20
b    30
c    40
d    50
dtype: int64

In [12]:
dic = {"a":10, "b":20, "c":30, "d":40}

panda_series = pd.Series(dict)
print(pandas_series)

a    20
b    30
c    40
d    50
dtype: int64

In [13]:
import numpy as np
randomnumbers = np.random.randint(10,100,6)

pandas_series = pd.Series(randomnumbers)
print(panda_series) #random sayılarla oluşmalıydı

0    <class 'dict'>
dtype: object

In [ ]:
pandas_series = pd.Series([20,30,40,50], ["a","b","c","d"])

result = pandas_series[0] #20 bilgisine ulaşabildim indexle ulaşabiliyorum
result = pandas_series[-1]
result = pandas_series[:2]
result = pandas_series[-2:]
result = pandas_series["a"] #key ile de indexteki elemanı alabilirim
result = pandas_series["d"]
result = pandas_series[["a","c"]] # iki tane key ile de alabilirim olmayan key ile çağırırsam da olmayan key için nan yazar
result = pandas_series.ndim # 1 geldi çünkü bir boyutlu
result = pandas_series.dtype #data tipi görüldü
result = pandas_series.shape #4 e 1 lik bir liste olduğunu görürüz
result = pandas_series.sum() #ile elemanları toplarım
result = pandas_series.max() #max değer
result = pandas_series.min() # min değer
result = pandas_series + pandas_series #liste içindeki elemanlar toplanır
result = pandas_series + 50 #her eleman üzerine 50 atanır
result = np.sqrt(pandas_series)#her elemanın karekökü

result = pandas_series >= 50 #50den büyük elemanlar için bool değer
result = pandas_series %2 == 0 #bool değer









print(pandas_series)
print(result)

In [35]:
opel2018 = pd.Series([20,30,40,10],["astra","corsa","mokka","insignia"])
opel2019 = pd.Series([40,30,20,10],["astra","corsa","Grandland","insignia"])

total = opel2018 + opel2019
print(total) #uyuşmayan key ve value değerler nan yazdı çünkü örn diğer listede mokka olmadığı için toplayamadı
print(total["astra"]) #sadece astra geldi

# dataframe serilerin birleşmiş hali

Grandland     NaN
astra        60.0
corsa        60.0
insignia     20.0
mokka         NaN
dtype: float64
60.0

# pandas dataframe 20.3

In [36]:
# dataframe birleştirilmiş toplanmış serieslere denir

In [37]:
import pandas as pd
import numpy as np

In [39]:
s1 = pd.Series([3,2,0,1]) #liste1
s2 = pd.Series([0,3,7,2]) #liste2

data = dict(apple = s1, orange = s2) #iki listeyi sözlük veri yapısında yaptım kolon ismi oldu

df = pd.DataFrame(data) # dataframe içine data verdim pd den dataframe objesi oluşturdum

print(df)

   apple  orange
0      3       0
1      2       3
2      0       7
3      1       2

In [41]:
df = pd.DataFrame()
print(df) #hem kolonlar hem indexler boş liste şeklindedir normalde

Empty DataFrame
Columns: []
Index: []

In [43]:
df = pd.DataFrame([["ahmet",50], ["ali",60], ["yağmur",70], ["çınar", 80]])
print(df) #kolon de satır index numaralarını kendi verdi

        0   1
0   ahmet  50
1     ali  60
2  yağmur  70
3   çınar  80

In [46]:
data = [["ahmet",50], ["ali",60], ["yağmur",70], ["çınar", 80]] #datayı dışarıda da tanımlayabilirm

df = pd.DataFrame(data, columns = ["name","Grade"], index = [1,2,3,4], dtype = float) #kolon isimleri ve index isimleri, dtype float dediğimde de sayısal verilerin tipini intten floata çevirdim

print(df)

     name  Grade
1   ahmet   50.0
2     ali   60.0
3  yağmur   70.0
4   çınar   80.0

C:\Users\PC-1\AppData\Local\Temp\ipykernel_22204\2305264881.py:3: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data, columns = ["name","Grade"], index = [1,2,3,4], dtype = float) #kolon isimleri ve index isimleri

In [48]:
list = [["ahmet",50], ["ali",60], ["yağmur",70], ["çınar", 80]]
dict = {"name": ["ahmet","ali","yağmur","çınar"], "Grade": [50,60,70,80]}


df = pd.DataFrame(dict, index = ["212","242","234","345"]) #dict sayesinde bu şekild eyazarsam kolon ve index adı yazmama gerek kalmaz ancak istersem yine değiştirebilirim örn öğrncilerin indexlerini okul numarası yapıyorum
print(df)

       name  Grade
212   ahmet     50
242     ali     60
234  yağmur     70
345   çınar     80

In [50]:
dict_list = [
    {"name":"ahmet","Grade":50},
    {"name":"ali","Grade":60},
    {"name":"yağmur","Grade":70},
    {"name":"çınar","Grade":80}
]

df = pd.DataFrame(dict_list, index = ["212","242","234","345"])

print(df) #bu şekilde de yazılabilir database e daah çok benziyor

# bu şekilde farklı seçeneklerle oluşturabilirim son yaptığım bir json veriye benziyor

       name  Grade
212   ahmet     50
242     ali     60
234  yağmur     70
345   çınar     80

# 20.4 pandas ile farklı veri tiplerinden veri okuma

In [51]:
import pandas as pd

In [54]:
#df = pd.read_excel("flo.xlsx")
df
#pd.read_csv("... .csv")
#pd.read_json("... .json, encoding='UTF-8'")

# connection = sqlliste3.connet("sample.db")
# df = pd.read_sql_query("SELECT * FROM students", connection)
#diyerek sql databaseden direkt pythona bilgi alabilirim

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

# 20.5 dataframe ile satır sütun seçimleri

In [55]:
import pandas as pd

In [56]:
from numpy.random import randn

In [58]:
df = pd.DataFrame(randn(3,3), index = ["A","B","C"], columns = ["Column1","Column2","Column3"])

print(df) #abc indexli 3 e 3lük random sayılardan oluşan bir df yaratıldı

    Column1   Column2   Column3
A  1.104629  0.425129 -1.326999
B  0.024926 -2.434254 -0.141850
C -1.757637  1.590867  0.445375

In [90]:
result = df

result = df["Column1"] # herhangi bir kolon seçmek için df diyip kolon ismini yazmam yeterli
result = type(df["Column1"]) #kolonun tipi seri olduğunu gördüm
result = df[["Column1","Column2"]] #birden çok kolon almak için liste içerisinde birden fazla kolon ismini yazmam yeterli yani iki liste iç içe olmalı


# loc["row", "column"] => loc["row"] => loc[":", "column"] önce row sonra kolon
result = df.loc["A"] #loc metoduyla istediğim satırı alırım. bir indeksleme iştemi olduğu için köşeli parantez ile yazarım
result = type(df.loc["A"]) #tipi seridir
result = df.loc[:,"Column1"] #sadece kolon seçmek için row parametresine : koyarım sonra kolon ismini yazarım
result = df.loc[:,["Column1","Column2"]]# loc metoduyla birden fazla kolon almak için
result = df.loc[:,"Column1":"Column3"] #eğer belirli aralıkta kolon seçmek istersem bu sefer ekstra köşeli parantez kullanmadan yine satır seçmek istemezsem : yazıp geçtim ilk parametreyi sonra kolon aralıklarını yazıp aralarına : koyarsam istediğim aralıktaki kolonlar gelir ve bu sefer başlangıç ve bitiş olarak belirlediğim verileri dahil ederek getirir yani 1 den 3e kadar dersem 1 2 ve 3 gelir
result = df.loc[:,:"Column2"] #eğer başlangıç belirtmek istemezsem silmem yeterli
result = df.loc["A":"C",:"Column2"] #satırlar için de mantık aynı adan başla c ye kadar git demiş oldum burada , index numaralarını vermemiş olsam normal int değer girip index numarlarıyla alabilirim direkt yani idex adı neyse onu yazmam gerek
result = df.loc["A":"B",:"Column3"] #a dan b ye kadar getirdi ve baştan kolon 3 e kadar getirdi
result = df.loc[:"B",:"Column2"] #baştan b ye kadar olan satırları getir dedim



result = df.iloc[2] # ben index ismini str yapmış olmama rağmen yine index numarası ile çalışmak istiyorsam iloc metodunu kullanabilirim 2. indexe karşılık gelen c ninci satır geldi


# tek birhücreyi şu şekilde seçebilirim:
result = df.loc["B","Column3"] #satır ve kolon yazarsam tek hücre değeri döner
result = df.loc[["A","B"],["Column1","Column2"]] #a ve be satırlarının sadece kolon1 ve kolon2 değerlerini getri dedim


#yeni koon eklemke istersem: yukarıdan aşağı bir seri oluşturdum ve bunu dfnin en sonuna ekledim
df["Column4"] = pd.Series(randn(3), ["A","B","C"]) #randn metoduyla 3 elemanlı bir df oluşturmam gerek ve hazır kalığ bir veriye dahil olduğu için indexlerini yine yazmam gerekiyor
df["Column5"] = df["Column1"] + df["Column3"] #kolon 5 için kolon1 ile kolon3 ün toplamını oluşturdum değerler toplanıp kolon 5 olarak toplamları yazdırılmış oldu
#print(df)


# kolon silmek istersem drop metodunu kullanırım

df.drop("Column5", axis = 1, inplace = True) # axis değerini belirtmezsem hata alırım metoda kolonu verdikten sonra axis değerini belirtmem lazım, axis 1 dediğimde kolonu yukarıdan aşağı doğru sil demek isterim
# inplace True parametresini eğer vermezsem orjinal datada o veriyi silmez
#false dersem kopyası çıkarılır ve silinir


#print(result)
print(df)

    Column1   Column2   Column3   Column4
A  1.104629  0.425129 -1.326999 -0.945325
B  0.024926 -2.434254 -0.141850 -0.078263
C -1.757637  1.590867  0.445375  0.985188

# 20.6 pandas dataframe ile filtreleme

In [92]:
import pandas as pd
import numpy as np

In [133]:
# random modülü ile 10dan 100e kadar 75 sayıyı 15 satır ve 5 kolon olacak şekilde bölüyorum
data = np.random.randint(10,100,75).reshape(15,5)
df = pd.DataFrame(data, columns = ["Column1","Column2","Column3","Column4","Column5"])

result = df

result = df.columns #df içindeki kolon isimlerini liste içinde verir
result = df.head(5) # ilk 5 kayıt gelir
result = df.head(10) #ilk 10 kayıt gelecek
result = df.tail(5) #son 5 satır gelir
result = df.tail(10) # son 10 kayıt gelir
result = df["Column1"].head() #özel olarak kolon seçmek istediğimde kolon ismini yazarım sonuna da head eklersem o kolondaki ilk 5 kaydı getirir
result = df.Column1.head() #bu da aynı sonucu getirir ancak yukarıdaki dah sağlıklıdır çünkü bu bir nesne özelliğidir ancak kolon bir nesne değildir. fakat yine de çalışır
result = df[["Column1","Column2"]].head()#birden falza kolon seçmke istersem 
result = df[["Column1","Column2"]].tail(10)
result = df[5:15][["Column1","Column2"]].head() # 5 ile 15 arasındaki kayıtları alabilirim ve bu kayıtlar kolon1 ve kolon2 den gelir ve bu kayıtlardan ilk 5 tanesini görürüm yani normalde ikinci beşliği görürüm tail deseydim belirlediğim aralıkta yani 14ten 10a kadar olan kayıtları görürdüm

result = df > 50 #df içine bakar ve hangisi 50den büyükse büyük olanlar iiçn True değeri olmayan değerler için false değeri geilr
result = df[df > 50 ] #bu değerleri istersem bu filtreyi df içine veririm ve bu değerler bana gelir olmayanlar için nan değer döner
result = df[df %2 == 0] #çift olanlar gösterilir olmayanlar nan olur
result = df["Column1"] >50 # kolon1 e bakar ve burada sadece 50den büyük olan kolonları true yazar
result = df[df["Column1"]> 50 ] #50den büyük olan kolonlar gelir filtreleme yapmak istersem aşağıdaki gibi yaparım
result = df[df["Column1"]> 50 ][["Column1","Column2"]] # dersem sadece kolon1 ve kolon2 deki kayıtlar gelir burada kolon1 50den büyük olan kayıtlar geldi koşulu artırabilirim örn kolon1de 70tenküçükolsun diyebilirim
result = df[(df["Column1"] > 50) & (df["Column1"] <=70)] #kolon 1 50den büyük olsun ve 70e küçük eşit olsun dedim aradakide and operatörüdür
result = df[(df["Column1"] > 50) & (df["Column2"]<=70)] #kolon1 50den büyük olacak kolon2 ise 70ten küçük olacak
result = df[(df["Column1"] > 50) | (df["Column2"]<=70)] #büyük uzun çizgi or operatörü demek
result = df[(df["Column1"] > 50) | (df["Column2"]<=70) | (df["Column2"]<=70)] #bu değerlerden sadece 1nin true değer döndürmesi kayda gelemsi demek
result = df[(df["Column1"] > 50) & (df["Column2"]<=70)][["Column1","Column2"]] # aynı şekilde bu gelen kayıtlardan yine kolon seçimi de yapabilirim sadece kolon1 ve kolon2 gelsin diyebilirim
result = df.query("Column1 >=50 & Column1 %2 == 0") # koşul yazarken farklı bir yöntem de var querye direkt koşullarımı verebiliyorum kolon1 50den büyük olsun ve aynı zamanda çift olsun diyorum
result = df.query("Column1 >=50 & Column1 %2 == 0")[["Column1","Column2"]] #ve 50den büyük çift sayılar için gelen kayıtlarda yine kolon filtrlemesi yapabilirim



print(result)

    Column1  Column2
0        44       41
1        71       77
2        70       50
3        92       54
4        99       16
6        65       55
7        92       51
8        83       93
9        68       53
12       20       39
13       46       39
14       44       65